* {
    border: 0px solid #24283b;
    border-radius: 4px;
    font-family: FiraSans Compressed;
    font-size: 15px;
    min-height: 0;
}
window#waybar {
    background: transparent;
}

.modules-left, .modules-right, .modules-center {
    border: 0px solid #00BCD4;
    padding: 2px 2px;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

#workspaces.normal {
    background: transparent;
    border: 0px solid transparent;
    border-radius: 5px;
    margin-right: 0px;
}

#workspaces.normal button {
    padding: 0 5px;
    background: transparent;
    border: 0px solid #00BCD4;
    border-radius: 5px;
}

#workspaces.normal button.active {
    border: 1px solid #00BCD4;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #212335;
    color: white;
}

#workspaces.special {
    background: transparent;
    border-radius: 5px;
    border: 0px solid #00BCD4;
}

#workspaces.special button {
    padding: 0 5px;
    margin-right: 5px;
    background: transparent;
    border: 1px solid #00BCD4;
    border-radius: 5px;
}
#workspaces.special button.active {
    border: 1px solid #FF966C;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #212335;
    color: white;
}
